<nav class="sidebar d-flex flex-column p-3">
  <h3 class="mb-4">My App</h3>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="../index.html" class="nav-link">Home</a>
    </li>
    <li>
      <a href="../table.html" class="nav-link">Table</a>
    </li>
    <li>
      <a href="#" class="nav-link">Dummy 1</a>
    </li>
    <li>
      <a href="#" class="nav-link">Dummy 2</a>
    </li>
    <li>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="color-theme-switch"
        />
        <label id="color-theme-label" class="form-check-label"
          >Color Theme</label
        >
      </div>
    </li>
  </ul>
</nav>
